* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: linear-gradient(288deg, #FFB6B9 0%, #FFB6B9 35%, #FAE3D9 calc(35% + 1px), #FAE3D9 45%, #BBDED6 calc(45% + 1px), #BBDED6 65%, #61C0BF calc(65% + 1px), #61C0BF 100%);
}

.d-flex {
    display: flex;
}

.btn {
    outline: none;
    border: none;
    background-color: wheat;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: rgb(255, 211, 130);
}

select {
    appearance: none;
    outline: black;
    background-color: wheat;
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-right: 0.3rem;
    cursor: pointer;
    color: #0E141B;
    border-color: black;
}

select:hover {
    background-color: rgb(255, 211, 130);
}

.mb {
    margin-bottom: 1rem;
}

/* End GLobal Styles */
.main-container {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.clock-container {
    padding: 2rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.current-time {
    font-size: 2rem;
    color: black;
}

.alarm-form {
    justify-content: space-between;
    width: 100%;
}

.submit-button {
    border-color: black;
    border: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.set-alarm-container {
    width: 100%;
}

.set-alarm-container .set-alarm-container-title {
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

.alarm {
    justify-content: space-between;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    align-items: center;
}

.alarm .delete-alarm {
    border-radius: 5px;
    background-color: lightgrey;
    font-weight: bold;
    color: black;
}

.alarm .delete-alarm:hover {
    background-color: rgb(243, 128, 128);
}

.time {
    color: #0E141B;
    font-size: 1rem;
    font-weight: bold;
}


/* style of devices of screen size less than 768px */
@media only screen and (min-width: 600px) {

    /* adding padding to container */
    .main-container {
        padding-block: 2rem;
    }

    .clock-container {
        justify-content: center;
        border-radius: 10px;
        width: 450px;
        min-height: auto;
    }
}